.newJobMasterContainer {
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 2%;

}

.jobPrepContainer {
    display: flex;

}

.jobPrepContainerLeft {
    width: 70%;

}

.jobPrepContainerRight {
    width: 30%;


}

.requesterSelector {
    width: 100%;
    display: flex;

}

.requesterSelectorForm {
    width: 50%;
}

.jobPrepButton {

    margin-right: 15px;
}

.videoInputsSubmit {

    margin-right: 5px;
    margin-left: auto;
}



.newJobLabel {
    display: flex;
    margin-bottom: 5px;


}

.selector {

width:100%
}


.addJobInput {

    width: 80%;
    margin-left: auto;
    margin-right: 5px;

}

.inputsLower {

    display: flex;
}


.enterVideoSlug{
    height: 100%;
    vertical-align: center;
    text-align: center;
    background-color: #eae6e5;
    display: inline-block;
    width: 100%;


}

.jobPrepButtons {
    display: flex;
    margin-bottom: 15px;
    margin-top: 10px;

}

.mediaSubmitButton{

    margin-left: auto;
    margin-right: 5px;

}
.jobForm {
    margin-right: 5px ;
    margin-top: 10px;
    height: 100px;
    display: flex;

}

.jobFormLeft {

    width: 60%
}

.jobFormRight {
    width: 25%;
    margin-left: auto;
}

.jobFormComments {
    resize: none;
    height: 100%;
    width: 97%;

}

.videoSearchFeedbackContainer {

    height: 100%;
}

.preparedJobsContainer{

    margin-top: 20px;

}

.emptyCreatedJobsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    background-color: #eae6e5;
    border-radius: 4px;


}

.emptyCreatedJobsContainerText {
    margin: auto;
}

.submitJobsButton {

    margin-top: 15px;

}