.job-container {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #282c34;
    padding-right: 5px;
    box-shadow: 3px 3px 2px #808385;
    display: flex;
    width: 98%;
    border-radius: 3px;
    background-color: #fafafa;


}

.job-container:first-child {
    margin-top: 3px;

}


.job-container-right {
    margin-left: 8px;
    width: 98%;

}

.job-container-left {
    width: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;


}


.job-container-selected {
    background: rgb(255, 255, 255);
    background: radial-gradient(circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 74%,
    rgba(237, 235, 235, 1) 95%,
    rgba(207, 207, 207, 1) 98%,
    rgba(148, 148, 148, 1) 100%);

}

.upperJobContainer {

    display: flex;
    margin-top: 5px;

}


.filtersOuterContainer {
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 13%;
    margin-left: 60%;

}


.controlBarNavButtons {
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.jobManagementFilters {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
    display: flex;

}

.lowerJobContainer {

    height: 170px;

    margin-bottom: 10px;
}

.jobMediaContainer {


}

.mediaContentDescriptor {
    margin-right: 10px;
    display: flex;


}

.pluginControlsContainer {

    display: flex;
    margin-bottom: 10px;
    height: 40px;

}

.jobContentContainer {

    /*height: 100% !important;*/

}


.capJobMediaContentContainer {

    display: flex;
    margin-bottom: 5px;
    padding-right: 10px;

}

.pluginContainer {

    width: 50%;

}

.upperJobContainerRight {
    display: flex;
    margin-left: auto;

}

.jobControlsBar {

    margin-bottom: 10px;
    margin-top: 10px;

}


.deleteJobIcon {
    margin-left: 10px;

}

.upperJobContainerLeftContent {
    margin-bottom: 5px;

}

.upperJobContainerLeftLabel {
    display: inline-flex;
    width: 100%;
}

.upperJobContainerRightContent {

    margin-left: 10px;

}


.upperJobContainerLeft {
    display: inline-flex;

}

.commentsContainer {
    width: 15%;
    margin-right: 5px;
    margin-left: auto;

}

.commentsInput {
    height: 145px;
    resize: none;
    width: 100%;

}

.filtersMainContainer {

    border-top: #463077;
    border-top-style: solid;
    border-top-width: 2px;
    background-color: #fafafb;
    border-bottom: #463077;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: 0px 1px 4px #808385a1

}


.filterSelectors {

    height: 30px

}

.filterTitles {
    font-size: 13px !important;
    margin-top: 3px;


}

.lowerJobContainer {

    display: flex;
    border-top-color: #acacac;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 5px;
    border-bottom-color: #acacac;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 5px;

}

.lowerJobContainerLeft {
    margin-right: 5px;
    width: 28%
}

.lowerJobContainerRight {
    border-left-color: #acacac;
    border-left-style: solid;
    border-left-width: 1px;
    width: 65%;
    padding-left: 5px;
}


.upperJobContainerLeftContentInput {
    width: 100px;
    margin-left: auto;
    font-size: 14px !important;
    background-color: white;

}

.requesterFilterContainer {
    margin-right: 5px;

}

.item-enter {
    opacity: 0;
}

.item-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.item-exit {
    opacity: 1;
}

.item-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.astControls {
    display: flex

}

.tabulator-header {
    height: 0;
}

.mediaContentContainer {
    display: flex;


}

.mediaContentSelectors {
    width: 50%;
    display: flex;
}

.amaraControls {
    display: flex;
    height: 2.2rem;


}

.extractorButtonsContainer {
    display: flex;
    margin-right: 0;
    margin-left: auto;

}

.extractorButton {
    display: flex;
    margin-right: 10px;

}

.extractorLabel {
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;


}

.caption_resource_container {
    display: flex;

}

.addCapResource {

    margin-right: 0;
    margin-left: auto;

}

.astControlsContainer {
    height: 50px;
    width: 520px;
    margin-right: auto;
    margin-left: 10px;


}

.noJobSlug {
    color: #6f6f6f;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
    height: 97%;
    width: 100%;
    background-color: #eaeaea;
    margin-left: 5px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #8d8d8d;

}

.sourceUrlLink {
    width: 430px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;


}

.videoFileControlsContainer {
    padding-top: 1px;
    padding-bottom: 1px;
    height: 170px;
    padding-left: 6px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #acacac;


}

.captionMediaContainerLeft {
    width: 95%

}

lowerUpperJobContainer {
    display: flex;
    width: 82%;

}


.contentTitle {
    width: 430px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;

}

.noStudentEnrolled {
    margin-bottom: 3px;
    background-color: orange;
    margin-left: 30px;
    padding: 3px;
    border-style: dashed;
    border-color: grey;
    margin-top: auto;
}
