.job-container {
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #282c34;
    padding-right: 5px;
    box-shadow: 3px 3px 2px #808385;
    display: flex;
    width: 98%;
    border-radius: 3px;


}

.job-container:first-child{
    margin-top: 3px;

}


.job-container-right {
    margin-left: 8px;
    width: 100%;

}

.job-container-left {
    width: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;



}

.upperJobContainer {

    display: flex;
    margin-bottom: 5px;
    margin-top: 5px;

}


.filtersOuterContainer {
    display: flex;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 3px;
    margin-left: auto;

}


.controlBarNavButtons {

    display: flex;

}

.jobManagementFilters {

    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: 10px;
    display: flex;

}

.lowerJobContainer {



    margin-bottom: 10px;
}

.jobMediaContainer {



}
.mediaContentDescriptor {
    margin-right: 10px;
    display: flex;


}

.pluginControlsContainer {

    display: flex;
    margin-bottom: 10px;
    height: 40px;

}

.jobContentContainer {

    height: 91% !important;

}


.capJobMediaContentContainer {

    display: flex;
    margin-bottom: 5px;
    padding-right: 10px;

}

.pluginContainer{

width: 50%;

}

.upperJobContainerRight {
    display: flex;
    margin-left: auto;

}

.jobControlsBar {

    margin-bottom: 10px;


}


.deleteJobIcon{
    margin-left: 10px;

}

.upperJobContainerLeftContent {
    margin-bottom: 5px;

}
.upperJobContainerLeftLabel {
    display: inline-flex;
    width: 100%;
}

.upperJobContainerRightContent{

    margin-left: 10px;

}

.commentsContainer {
    width: 15%;

}

.commentsInput {
    height: 100%;
    resize: none;
    width: 100%;

}

.filtersMainContainer {

    height: 5%;
    margin-left: 3px;
    margin-right: 3px;
    border-bottom: #282c34;
    border-bottom-style: solid;
    border-bottom-width: 2px;

}


.filterSelectors {

    height: 30px

}

.filterTitles {
    font-size: 13px !important;
    margin-top: 3px;


}

.lowerJobContainer {

    display: flex;
    border-top-color: #282c34;
    border-top-width: 1px;
    border-top-style: solid;
    padding-top: 5px;

}

.lowerJobContainerLeft {
    margin-right: 5px;
    width: 18%
}

.lowerJobContainerRight {
    border-left: #282c34;
    border-left-style: solid;
    border-left-width: 2px;
    width: 65%;
    padding-left: 5px;
}



.upperJobContainerLeftContentInput {
    width: 100px;
    margin-left: auto;
    font-size:14px !important

}

.requesterFilterContainer {
margin-right: 5px;

}

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in;
}

.astControls {
    display: flex

}

.tabulator-header {
    height: 0;
}

.mediaContentContainer {
    display: flex;


}

.mediaContentSelectors {
    width: 50%;
    display: flex;
}

.amaraControls {
    display: flex;

}

.extractorButtonsContainer{
    display: flex;
    margin-right: 0;
    margin-left: auto;

}

.extractorButton{
    display: flex;
    margin-right: 10px;

}
.extractorLabel {
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;


}

.caption_resource_container {
    display: flex;

}

.addCapResource {

    margin-right: 0;
    margin-left: auto;

}