.master-container {

    /*height: 100vh;*/
    /*overflowY: scroll;*/
    font-size: 15px;

}

.top-bar {
    position: relative;
    height: 5px;
    display: flex;
    background-color: #41187d;

}

.developement-version {
    text-align: center;
    background-color: darkorange;


}

.masterListItem {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

