.NavControlContainer {
    background-color: #fafafb;
    display:flex;
    margin-right: 10vw;
    position: relative;



}

.navContent {
    height: 100%;
    overflow: hidden;

}

.logout-container{
    margin-top: 11px;
    margin-right: 3px;
    margin-left: auto;
}



.NavUpperInnerContainer{

    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.NavigationMasterContainer {
    margin-left: auto;
    margin-right: auto;
    height:97%

}

.NavUpperContainer {
    position: relative;
    max-height: 40px;
    min-height: 40px;
    display: flex;
    background-color: #fafafb;
    box-shadow: 0px 3px 2px #808385;




}

.semesterSelectContainer{

    margin-right: 5vw;
    margin-top: 11px;


}

.JobManagementControlContainer {

    height:100%
}


.ContentManagementMasterContainer {

    height:100%
}

.contentContainer {
    height:97%;
    overflow-x: hidden;

}


.navButton {

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left-style: solid;
    border-left-width: 1px;
    border-color: #dcdcdc;
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;

}
.navButton:first-child{
    border-left-style: none;
}


.navButton:hover{

    background-color: #acacac;


}


.jobCount{

    background: #ecc386;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 3px;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #ca9941;
    text-decoration: none !important; ;

}

.control-bar {
    display: flex;
    margin-top: 3px;
    background-color: #fafafb;
    border-color: #282c34;
    border-bottom-width: 2px;
    border-bottom-style: solid;



}

.controlButton {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;


}

.globalLoadingContainer {
    padding-top: 5px;
    margin-left: 5vw;

}