.NavControlContainer {

    display:flex
}

.navContent {

    overflow: hidden;


}



.contentContainer {

    overflow: scroll;

}



.navButton {

    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px


}
