.tabulator-row .tabulator-cell {
    padding:10px 4px;

}


.tabulator-cell:nth-child(2) {
    padding-top: 4px;

}


.tabulator-cell:nth-child(7){

    padding-top: 4px;
}

.tabulator-cell:nth-child(3){

    padding-top: 4px;
}

.tabulator-cell:nth-child(9){

    padding-top: 4px;
}

.tabulator-tableHolder {
    width: 100%;

}

.tabulator {

    /*width: 100%;*/
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
}


.tabMainContainer {

    width: 100%;
}

.ignore-video {

    background-color: #808385 !important;;

}


.unselectable {
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    user-select: none;
}