.addEmployeeContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: auto;


}

.masterListUser {
    margin-top: 10px;
    display: block;

}

/*.emp-top {*/
/*    margin-top: 50px;*/
/*    margin-bottom: 50px;*/


/*}*/

.emp-display-title {
    background-color: #e5e5e5;
    box-sizing: content-box;
    padding: 5px;

}

.emp-display-container {
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fafafb;
    border-color: #282c34;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
}


.emp-input {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    min-height: 38px;
    outline: 0 !important;
    position: relative;
    -webkit-transition: all 100ms;
    transition: all 100ms;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}


.emp-checkbox {
    width: 40px;
    height: 40px;
}

.stu-checkbox {
    width: 20px;
    height: 20px;
}

.stu-display-container {
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #fafafb;
    border-color: #282c34;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 550px;
}

.stu-scroll-container {
    /*height: 650px;*/
    /*overflow-y: scroll;*/

    scroll-behavior: smooth;
}

.scroll-inside-div {
    overflow-y: scroll;
    height: 100%;

}

.scroll-container {
    height: 86vh;
}